body {
  margin: 0;
}

.services {
  background-color: #0020f6;
}
.services__image__wrapper {
  background-image: url("https://www.specbee.com/themes/custom/specbee/assets/media/icons/polygon.svg");
  background-repeat: no-repeat;
  height: 15rem;
  width: 15rem;
  position: relative;
  background-position-x: 50%;
  background-position-y: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-decoration: none;
}
.services__image__wrapper img {
  width: 6rem;
}
.services__image__wrapper:hover img {
  transform: scale(0.8);
  transition: 0.25s;
}
.services__image__wrapper:before {
  background: url("https://www.specbee.com/themes/custom/specbee/assets/media/icons/polygon-line.svg") no-repeat 50%/contain;
  content: "";
  height: 17.5rem;
  left: -1.1875rem;
  position: absolute;
  top: -1.125rem;
  width: 17.5rem;
  transform: scale(0.5);
  z-index: -1;
  transition: 0.25s ease-in-out;
}
.services__image__wrapper:hover:before {
  transform: scale(1);
  z-index: 0;
}
.services__heading {
  margin-top: 0;
  font-size: 5rem;
  padding-top: 5rem;
  color: white;
}
.services__heading::before {
  content: "";
  height: 0.75rem;
  width: 300px;
  display: inline-block;
  margin-bottom: 15px;
  vertical-align: middle;
  margin-right: 50px;
  background-color: #e3f307;
}
.services__card {
  max-width: 18rem;
  text-align: center;
}
.services__card a {
  text-decoration: none;
  color: white;
}
.services__card:hover {
  cursor: pointer;
}
.services__text {
  font-size: 0.875rem;
}
.services__title {
  font-size: 1.25rem;
  font-weight: 800;
}
.services__wrapper {
  max-width: 75rem;
  padding-top: 50px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding-bottom: 40px;
}
.services__content {
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .services__heading {
    font-size: 3.125rem;
  }
  .services__heading::before {
    width: 55px;
  }
  .services__card {
    width: 100%;
  }
}
@media screen and (max-width: 375px) {
  .services__heading {
    font-size: 2rem;
  }
  .services__heading::before {
    width: 55px;
  }
  .services__wrapper {
    display: block;
  }
  .services__card {
    max-width: 24rem;
  }
  .services__content {
    max-width: 18rem;
    margin-inline: auto;
  }
}