.footer {
  padding-top: 5.5rem;
  padding-bottom: 4.5rem;
  background-color: #f5f5f5;
}
@media screen and (min-width: 1024px) {
  .footer {
    padding-bottom: 0;
  }
}
.footer__menu {
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 1024px) {
  .footer__menu {
    display: flex;
    justify-content: center;
    gap: 125px;
  }
}
.footer__left__container {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
  border-bottom: initial;
  border-bottom: 0.0625rem solid #cdced9;
}
@media screen and (min-width: 1024px) {
  .footer__left__container {
    border-bottom: none;
    border-right: 0.0625rem solid #cdced9;
    padding-right: 120px;
    gap: 100px;
  }
}
.footer ul {
  padding-left: 0;
  list-style: none;
}
.footer li {
  margin-top: 10px;
}
.footer a {
  text-decoration: none;
  color: #001186;
  padding-top: 2px;
}
.footer a:hover {
  color: #0020f6;
}
.footer__left__menu {
  width: 47%;
}
@media screen and (min-width: 1024px) {
  .footer__left__menu {
    width: 175px;
  }
}
.footer__location__heading {
  color: #001186;
}
.footer__locations {
  column-count: 2;
}
@media screen and (min-width: 1024px) {
  .footer__locations {
    display: flex;
    gap: 80px;
  }
}
.footer__location {
  break-inside: avoid;
  margin-bottom: 2.5rem;
}
.footer__location__address {
  color: #0020f6;
}
.footer__social__container {
  margin-top: 50px;
  color: #001186;
  gap: 170px;
}
@media screen and (min-width: 1024px) {
  .footer__social__container {
    display: flex;
  }
}
.footer__right__container {
  padding-left: 20px;
  padding-right: 20px;
}
.footer__icons ul {
  display: flex;
  gap: 0.75rem;
  list-style-image: none;
  list-style-type: none;
  align-items: center;
}
.footer__images {
  width: 72px;
  display: flex;
  height: 72px;
  gap: 10px;
  padding: 10px;
  margin-left: -14px;
  cursor: pointer;
}
.footer__images img:hover {
  transform: scale(1.2);
  transition: 0.25s;
}