.header {
  background-color: #0020f6;
  backdrop-filter: blur(0.5rem);
  position: fixed;
  z-index: 1;
  width: 100%;
}
.header-container--button {
  height: 35px;
  width: 110px;
  background-color: #e3F307;
  border: 1px solid #e3F307;
  border-radius: 5px;
  color: #0020f6;
  margin-right: 20px;
}
@media only screen and (min-width: 375px) and (max-width: 667px) {
  .header-container--button {
    display: none;
  }
}
.header-container--button:hover {
  height: 35px;
  width: 110px;
  background-color: #0020f6;
  border: 1px solid #e3F307;
  border-radius: 5px;
  color: #e3F307;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px 0;
}
@media only screen and (min-width: 375px) and (max-width: 667px) {
  .nav {
    margin-left: 20px;
    margin-right: unset;
    padding: 20px 0;
  }
}
.nav__logo-container a svg {
  fill: white;
}
.nav-item {
  margin: 1.5rem 0;
  list-style: none;
  margin-left: 12rem;
}
@media only screen and (min-width: 375px) and (max-width: 667px) {
  .nav-item {
    margin-top: 1rem;
    margin-left: 5rem;
  }
}
@media only screen and (min-width: 668px) and (max-width: 1024px) {
  .nav-item {
    margin-top: 1rem;
    margin-left: 5rem;
  }
}
.nav-item__lists {
  display: none;
}
.nav-item__list {
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}
.nav-item__list a {
  font-size: 1.5rem;
  color: white;
  font-weight: 700;
}
.nav-link {
  font-size: 3.5rem;
  color: #fff;
  font-weight: 900;
  text-decoration: none;
}
@media only screen and (min-width: 375px) and (max-width: 667px) {
  .nav-link {
    font-size: 1.7rem;
    color: #fff;
    font-weight: 900;
  }
}
@media only screen and (min-width: 668px) and (max-width: 1024px) {
  .nav-link {
    font-size: 3rem;
  }
}
.nav-link:hover {
  color: yellow;
}
.nav-menu {
  position: fixed;
  left: -125%;
  top: 3.55rem;
  flex-direction: column;
  background-color: #0020f6;
  width: 100%;
  transition: 0.1s step-end;
  height: 100vh;
}
.nav-menu.active {
  left: 0;
}
.nav-line::before {
  content: "";
  height: 0.75rem;
  width: 120px;
  display: inline-block;
  /* margin-bottom: 15px; */
  vertical-align: middle;
  margin-right: 50px;
  position: absolute;
  background-color: yellow;
  left: 0;
  margin-top: 10px;
}
@media only screen and (min-width: 375px) and (max-width: 667px) {
  .nav-line::before {
    content: "";
    height: 0.25rem;
    width: 50px;
  }
}
@media only screen and (min-width: 668px) and (max-width: 1024px) {
  .nav-line::before {
    content: "";
    display: none;
  }
}

.hamburger {
  display: block;
  cursor: pointer;
  margin-right: 30px;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

.navigation-icons {
  display: flex;
}

.mobile-icon {
  display: none;
}
@media only screen and (min-width: 375px) and (max-width: 667px) {
  .mobile-icon {
    display: inline-block;
  }
}
@media only screen and (min-width: 668px) and (max-width: 1024px) {
  .mobile-icon {
    display: none;
  }
}

.active .nav-item__lists {
  display: block;
  padding-left: 2.5rem;
  list-style: none;
  max-height: 40rem;
  padding-top: 1rem;
}