.crafting {
  padding: 3.5rem 1.25rem;
  box-sizing: border-box;
}
.crafting__item {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 768px) {
  .crafting__item {
    flex-direction: row;
  }
  .crafting__item:nth-child(2) {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 1023px) {
  .crafting__item {
    margin: 20px 260px;
  }
}
.crafting__item:first-child {
  margin-bottom: 6rem;
}
@media screen and (min-width: 768px) {
  .crafting__item:first-child .crafting__item__content {
    margin-right: 2.5rem;
    margin-left: 0;
  }
}
.crafting__item__img img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .crafting__item__img img {
    margin-top: 1.5rem;
  }
}
.crafting__item__content {
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .crafting__item__content {
    margin-left: 2.5rem;
    max-width: 50%;
  }
}
.crafting__item__title {
  margin-bottom: 1.25rem;
  color: #001186;
}